<section class="ui raised segment">
    <div class="ui grid">

        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Venue</th>
                    <th>Location</th>
                    <th>Category</th>
                    <th>Website</th>
                    <th>Geo-Location</th>
                </tr>
                </thead>
                <tbody>

                    <tr>
                        <td> {{venue.name}}</td>
                        <td> {{venue.location}} </td>
                        <td> {{venue.category}} </td>
                        <td> <a href="http://{{venue.website}}">{{venue.website}}</a> </td>
                        <td> {{venue.geo.lat}} , {{venue.geo.long}} </td>
                    </tr>

                </tbody>
            </table>
           <h4>Description</h4>
            <p>{{venue.description}}</p>
            <a href="/venue/update/{{venue._id}}">Edit Entry</a>
            <a href="/venue/delete/{{venue._id}}" onclick="return confirm('Are you sure you want to delete this item?');"><i class="ui trash icon"></i> Delete</a>
        </article>
        <aside class="six wide column">
            <img src="images/iro.png" class="ui medium image">
        </aside>
    </div>
</section>