<section class="ui raised segment">
    <div class="ui grid">

        <article class="eight wide column">

            {{#each venues}}
                <header class="ui  header">{{category}}</header>
          <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Venue</th>
                    <th>Location</th>

                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>

                {{#each pois}}


                    <tr>
                        <td> <a href="/venue/{{_id}}">{{name}}</a></td>
                        <td> {{location}} </td>

                        <td><a href="/venue/delete/{{_id}}" onclick="return confirm('Are you sure you want to delete this item?');"><i class="ui trash icon"></i></a></td>
                    </tr>
                {{/each}}


                </tbody>
            </table>
            {{/each}}

        </article>
        <aside class="six wide column">
            <img src="images/iro.png" class="ui medium image">
        </aside>
    </div>
</section>